@mixin mint-card-bg {
  background: var(--primary-very-low);

  @media (prefers-color-scheme: light) {
    background: var(--header_background);
  }
}

:root {
  --mint-border-radius: 10px;
  --mint-hover-shadow: 4px 4px var(--tertiary-high);
  --mint-color-mint: #75bdad;
  --mint-color-blue: #e5f8ff;
  --color-alpha1: #030080;
  --color-alpha2: #1c17ff;
  --color-alpha3: #f1f5f8;
  --color-alpha4: #dfecf9;
  --color-alpha5: #25239d;
  --color-alpha6: #8cf1ff;
  --color-alpha7: #738fab;
  --color-alpha7-2: rgba(115, 143, 171, 0.2);
  --color-alpha8: #36495b;
  --color-dark: #000;
  --color-light1: #fff;
  --color-light2: #cdcdcd;
  --color-alert1: #12b0a7;
  --color-alert2: #e31957;
  --duration1: 0.2s;
}

$color-square-gradient: linear-gradient(
  4deg,
  #0200808c 55%,
  #4af7ff14 100%
);
$color-square-webkit-gradient: -webkit-linear-gradient(
  4deg,
  #0200808c 55%,
  #4af7ff14 100%
);
